.icon{
    border-radius: 20px;
    z-index: 1;
    
}
.img{
    border-top: 20px;
}
img{
    border-top: 20px;
    width: fit-content;
    height: fit-content;
}
.recipe-name{
    border-end-end-radius: 20px;
}
