.icon{
    border-radius: 1rem;
    z-index: 1;
    align-items: center;
}
.foodImage{
    border-top: 1rem;
    border-radius: 0.25rem;
    width: 19rem;
    height: 16rem;
}

.recipe-name{
    margin-top: 0.5rem;
    border-end-end-radius: 1rem;
    align-items: center;
    width: 17rem;
    height: fit-content;
    cursor: pointer;
}

.recipeText{
    text-align: center;
}

