#root{
    max-height: 100vh;
    
}

.body{
    font-family: 'Noto Serif Display', serif;
    color: white;
}

.notmood{
    margin-left: 4rem;
    margin-top: 3rem;
    font-size: 3.5rem;
    height: fit-content;
}

.gotyou{
    margin-left: 4rem;
    font-size: 2.4rem;
}


.budgetInput::placeholder{
    font-size: 1.2rem;
    font-family: 'Noto Serif Display', serif;
}


.budgetInput{
    padding-left: 2rem;
    margin-left: 4rem;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    border-radius: 1.5rem;
    height: 3rem;
    width: 20rem;
    font-size: 1.2rem;
    font-family: 'Noto Serif Display', serif;
}

.budgetText{
    margin-top: 4rem;
    margin-left: 4rem;
    font-size: 1.4rem;

}



.cuisineInput{
    padding-left: 2rem;
    margin-left: 4rem;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    border-radius: 1.5rem;
    height: 3rem;
    width: 20rem;
    font-size: 1.2rem;
    font-family: 'Noto Serif Display', serif;
}


.cuisineText{
    margin-top: 3rem;
    margin-left: 4rem;
    font-size: 1.4rem;

}

.distanceInput{
    margin-left: 4rem;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    border-radius: 1.5rem;
    height: 3rem;
    width: 20rem;
    padding-left: 2rem;
    font-size: 1.2rem;
    font-family: 'Noto Serif Display', serif;
}

.distanceText{
    margin-top: 3rem;
    margin-left: 4rem;
    font-size: 1.4rem;

}

.ellipse{
    text-align: center;
    margin-left: 47rem;
    margin-top:-70rem;
    position: fixed;
    width: 35rem;
    height: 35rem;
}

.getstartedresto{
    margin-top: 3rem;
    margin-left: 4rem;
    background-color: #72CA95;
    font-size: 1.2rem;
    width: 8rem;
    height: 3rem;
    color: black;
    font-family: 'Noto Serif Display';
    border-radius: 10rem;
    cursor: pointer;
}

.restaurantHomePage{
    position:relative;
}

.container{
    display: flex;
    flex-direction: column;
}

.resto-display{
    overflow-y: scroll;
    width: fit-content;
    height: 35rem;
    list-style: none;
}

.restaurantContainer{
    width: fit-content;
    margin-left: 20rem;
    height: 20rem;
}
.container{
    display: flex;
    flex-direction: row;
}