.input-wrapper{
    margin-top: 2rem;
    height: fit-content;
    font-family: 'Noto Serif Display', serif;
    background-color: white;
    width: 45rem;
    border-radius: 2rem;
    height: 3rem;
    align-items:center;
    justify-content: center;
    display: flex;
    box-shadow: 5;
    z-index: 1;
}
.search-bar{
    color:black;
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Noto Serif Display', serif;
    margin-left: 3%;
}
input:focus{
    outline:none;
}
.search-icon{
    color:black;
    margin-left: 3%;
}